 .movieList {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
     gap: 1rem;
     padding: 1rem;
 }

 .movieItem {
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
     gap: 1rem;
     padding: 1rem;
     border: 1px solid #ccc;
     border-radius: 5px;
 }